.header {
  @extend %flex-container;
  border-bottom: 1px solid #ececec;
}
.site-nav {
  @extend %flex-container;
}

.menu {
  @extend %flex-container;
  margin-left: 93px;
}

.menu__item {
  position: relative;
  &:not(:last-child) {
    /*border: 1px solid blue;*/
    margin-right: 50px;
  }
}

.menu__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  transition: var(--animate-link);

  &:hover,
  &:focus {
    color: var(--acent-color);
  }

  &.current {
    color: var(--acent-color);
  }
}
.active-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--acent-color);
  border-radius: 2px;
}

.contact-list {
  @extend %flex-container;
  margin-left: auto;
}
.contact-list__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  /*border: 2px solid black;*/
}
.contact-list__link {
  @extend %flex-container;
  color: var(--color-text);
  transition: var(--animate-link);

  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}

.contact-list .contact-list__item + .contact-list__item {
  margin-left: 50px;
}
.contact-list__icon-mail {
  fill: var(--color-text);
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transform: var(--animate-icon);

  .contact-list__link:hover &,
  .contact-list__link:focus & {
    fill: currentColor;
  }
}
.contact-list__icon-tel {
  fill: var(--color-text);
  width: 10px;
  height: 16px;
  margin-right: 10px;
  transform: var(--animate-icon);

  .contact-list__link:hover &,
  .contact-list__link:focus & {
    fill: currentColor;
  }
}
